.chart-example {
  padding: 10px 20px;
  min-height: 100%;
}

.chart-controls {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.chart-controls .ant-btn {
  font-size: 24px;
  height: 30px;
  padding: 0 10px;
  border-radius: 5px;
}

/* .chart-wrapper {
  width:100%;
  border: 2px solid white;
} */

